*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-size: cover;
    background-image: url(./images/background.jpg);
    display: flex;
    flex-direction: column;
    padding: 1rem 10% 0;
    font-family: "Roboto Mono", monospace;
}

header{
    background-image: url(./images/header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    color: aliceblue;
    align-items: center;
    gap: 5rem;
    padding: 0.5rem 2rem 4rem;
    margin-bottom: -1.5rem;
    border-radius: 1rem;
    background-position: bottom;
}

main{
    background-image: url(./images/main.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 1rem;
    gap: 1rem;
    color: white;
    overflow: hidden;
}

.logo{
    height: 9rem;
}
.headerTitle{
    font-size: 3rem;
    letter-spacing: 1rem;
}

.mainTitle{
    margin-bottom: 1rem;
    font-size: 1.75rem;
}

.jokesContainer{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    overflow: auto;
}

.jokesContainer::-webkit-scrollbar{
    width: 10px;
}

.jokesContainer::-webkit-scrollbar-thumb{
border-radius: 1rem;
background-color: white;
}

.joke{
    padding: 1rem 1rem .25rem;
    background-color: rgba(100, 100, 100, 0.2);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}


.jokeFooter{
    display: flex;
    justify-content: space-around;
}

.jokeLikes{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.jokeBtn{
    background: 0;
    border: 0;
    color: white;
    cursor: pointer;
}

.jokeForm{
    display: flex;
    gap: 1rem;
}

.jokeFormInput{
    flex: 1;
    min-width: 100px;
    background-color: rgba(100, 100, 100, 0.3);
    border: 0;
    border-radius: 1rem;
    font-size: 1.75rem;
    padding: .75rem;
    color: white;
    outline-color: white;
}

.jokeFormBtn{
    background-position: center;
    border: none;
    padding: 0 2rem;
    border-radius: 1rem;
    background-color: #1646ff;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0;
    transition: box-shadow .25s;
}


.jokeFormBtn:hover, .jokeFormBtn:focus{
    box-shadow:0 0 0 3px white;
}

.jokeBtn{
    background-position: center;
    transition: all .5s;
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 125px;
}

.jokeBtn:hover{
    background: #ffffff99 radial-gradient(circle, transparent 1%, #ffffff99 1%) center/15000%;
    color: #4e4e4e;
}

.jokeBtn:active{
    background-color: #1646FF;
    background-size: 100%;
    transition: all 0s;
}


@media(max-width: 1080px){
    body{
        padding: 1rem 1rem 0;
    }

    .headerTitle{
        font-size: 3rem;
        letter-spacing: 0;
    }

    .jokesContainer{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 800px){
    body{
        padding: 0;

    }

    .header{
        background-color: #1646FF;
        gap: .5rem;
        padding: 1rem .5rem 2rem;
        border-radius: 0;
    }

    .headerTitle{
        font-size: 1.75rem;
    }

    main{
        background-color: #ff7939;
        padding: .5rem;
    }
    .jokesContainer{
        grid-template-columns: 1fr;
    }
    .jokeFormBtn{
        font-size: 1rem;
        padding: 0 .5rem;
    }
}